body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
  }
  
  form {
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  #busqueda {
    margin-bottom: 20px;
  }
  
  #botones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #2a9df4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1a6fb3;
  }
  